Checks: '-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-const-or-ref-data-members,modernize-*,modernize-use-nodiscard,readability-*,modernize-use-trailing-return-type,-readability-magic-numbers,performance-*,-readability-identifier-length,-bugprone-easily-swappable-parameters'

# exclude third-party
HeaderFilterRegex: '.*(apps|common)\/.*\.hpp' 

% WarningsAsErrors: '*'